<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.xcye.message.dao.EmailDao">

    <insert id="insertEmail" keyColumn="uid">
        insert into
            au_email
        (uid,email,port,user_uid,email_host,email_password,protocol,create_time,update_time)
        values (
        #{email.uid},#{email.email},#{email.port},#{email.userUid},#{email.emailHost},
        #{email.emailPassword},#{email.protocol},#{email.createTime},#{email.updateTime}
        )
    </insert>

    <update id="updateEmail">
        update
            au_email
        <set>
            <if test="email.email != null">
                email=#{email.email},
            </if>
            <if test="email.protocol != null">
                protocol=#{email.protocol},
            </if>
            <if test="email.emailPassword != null">
                email_password=#{email.emailPassword},
            </if>
            <if test="email.emailHost != null">
                email_host=#{email.emailHost},
            </if>
            <if test="email.port != null">
                port=#{email.port},
            </if>
            <if test="email.updateTime != null">
                update_time=#{email.updateTime}
            </if>
        </set>

        where
            uid=#{email.uid}
    </update>

    <delete id="deleteEmailByUid">
        delete from au_email where uid=#{uid}
    </delete>

    <select id="queryAllEmail" resultMap="emailMap">
        select
            uid,email,port,user_uid,email_host,email_password,protocol,create_time,update_time
        from
          au_email
        <where>
            <if test="condition.startTime != null and condition.endTime != null">
                and create_time between #{condition.startTime} and #{condition.endTime}
            </if>
            <if test="condition.uid != null">
                and uid=#{condition.uid}
            </if>
            <if test="condition.keyword != null">
                email=#{condition.keyword}
            </if>
            <if test="condition.otherUid != null">
                user_uid=#{condition.otherUid}
            </if>
        </where>
    </select>

    <resultMap id="emailMap" type="xyz.xcye.common.dos.EmailDO">
        <id column="uid" property="uid"/>
        <result column="userUid" property="userUid"/>
        <result column="email_host" property="emailHost"/>
        <result column="protocol" property="protocol"/>
        <result column="email" property="email"/>
        <result column="port" property="port"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
</mapper>