<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.xcye.message.dao.MailTemplateDao">


    <insert id="insertMailTemplate" useGeneratedKeys="true" keyProperty="uid">
        insert into au_mail_template
            (template, create_time, subject,user_uid,type)
        values
            (#{mailTemplate.template},#{mailTemplate.createTime},#{mailTemplate.subject},#{mailTemplate.userUid},#{mailTemplate.type})
    </insert>

    <update id="updateMailTemplate">
        update
            au_mail_template
        <set>
            <if test="mailTemplate.template != null">
                template=#{mailTemplate.template},
            </if>
            <if test="mailTemplate.updateTime != null">
                update_time=#{mailTemplate.updateTime},
            </if>
            <if test="mailTemplate.subject != null">
                subject=#{mailTemplate.subject},
            </if>
            <if test="mailTemplate.type != null">
                type=#{mailTemplate.type},
            </if>
            <if test="mailTemplate.userUid != null">
                user_uid=#{mailTemplate.userUid}
            </if>
        </set>
        where
            uid=#{mailTemplate.uid}
    </update>

    <delete id="deleteMailTemplate">
        delete from
            au_mail_template
        where
            uid=#{uid}
    </delete>

    <select id="queryAllMailTemplate" resultMap="mailTemplate">
        select
            template,replace_arr,create_time,update_time,subject,uid,type,user_uid
        from
            au_mail_template
        <where>
            <if test="condition.startTime != null and condition.endTime != null">
                and create_time between #{condition.startTime} and #{condition.endTime}
            </if>
            <if test="condition.uid != null">
                and uid=#{condition.uid}
            </if>
            <if test="condition.keyword != null">
                and type like #{condition.keyword}
            </if>
            <if test="condition.otherUid != null">
                and user_uid=#{condition.otherUid}
            </if>
        </where>
    </select>

    <resultMap id="mailTemplate" type="xyz.xcye.common.entity.table.MailTemplateDO">

    </resultMap>
</mapper>