<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.xcye.message.dao.MessageLogDao">


    <insert id="insertMessageLog">
        insert into
            au_message_log
        (uid,message,exchange,queue,routing_key,try_count,consume_status,create_time,update_time,exchange_type,ack_status,error_message)
        values (
                #{messageDO.uid},#{messageDO.message},#{messageDO.exchange},#{messageDO.queue},#{messageDO.routingKey},
                #{messageDO.tryCount},#{messageDO.consumeStatus},#{messageDO.createTime},#{messageDO.updateTime},
                #{messageDO.exchangeType},#{messageDO.ackStatus},#{messageDO.errorMessage}
        )
    </insert>

    <update id="updateMessageLog">
        update
            au_message_log
        <set>
            <if test="messageDO.message != null">
                message=#{messageDO.message},
            </if>
            <if test="messageDO.exchange != null">
                exchange=#{messageDO.exchange},
            </if>
            <if test="messageDO.queue != null">
                queue=#{messageDO.queue},
            </if>
            <if test="messageDO.routingKey != null">
                routing_key=#{messageDO.routingKey},
            </if>
            <if test="messageDO.tryCount != null">
                try_count=#{messageDO.tryCount},
            </if>
            <if test="messageDO.consumeStatus != null">
                consume_status=#{messageDO.consumeStatus},
            </if>
            <if test="messageDO.updateTime != null">
                update_time=#{messageDO.updateTime},
            </if>
            <if test="messageDO.exchangeType != null">
                exchange_type=#{messageDO.exchangeType},
            </if>
            <if test="messageDO.ackStatus != null">
                ack_status=#{messageDO.ackStatus},
            </if>
            <if test="messageDO.errorMessage != null">
                error_message=#{messageDO.errorMessage}
            </if>
        </set>
        where
            uid=#{messageDO.uid}
    </update>

    <delete id="deleteMessageLog">
        delete from
            au_message_log
        where
            uid=#{uid}
    </delete>

    <select id="queryAllMessageLog" resultType="xyz.xcye.common.entity.table.MessageLogDO">
        select
            uid,message,exchange,queue,routing_key,try_count,consume_status,create_time,update_time,exchange_type,ack_status,error_message
        from
            au_message_log
        <where>
            <if test="condition.startTime != null and condition.endTime != null">
                and create_time between #{condition.startTime} and #{condition.endTime}
            </if>
            <if test="condition.uid != null">
                and uid=#{condition.uid}
            </if>
            <if test="condition.keyword != null">
                and routing_key like concat('%', #{condition.keyword}, '%')
            </if>
            <if test="condition.status != null">
                and consume_status=#{condition.status}
            </if>
        </where>
    </select>
</mapper>