@import "@/styles/dyzj/dyzj-dark.css";

.blog-article {
    padding-bottom: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.theme-default-content {

}

.theme-default-content img {
    width: 100%;
    margin: 0 auto;
}

.aurora-article-like {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aurora-article-like-heart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aurora-article-like-heart-svg {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 100px;
    transition: all 1s;
    background-color: #f5f5f5;
    color: #ef476f;
    margin: 0 auto;
}

.aurora-article-like-heart-num {
    display: flex;
    margin-top: .5rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

/*.aurora-article-like-heart:hover {*/
/*    background-color: #f5f5f5;*/
/*    color: #ef476f;*/
/*}*/

.aurora-article-like-heart-active {
    color: #f5f5f5;
    background-color: #ef476f;
}

.aurora-article-tag {
    margin-top: 1rem;
}

.aurora-article-tag svg {
    margin-right: .3rem;
    font-size: 1rem;
}
.aurora-article-tag-single {
    margin-right: .5rem;
}

.aurora-article-info {
    margin-top: 1rem;
    border-radius: 16px;
    padding: .5rem;
    background-color: rgba(203, 243, 240, 0.93);
    word-wrap: break-word;
}

.aurora-article-info-author svg {
    margin-right: .5rem;
}

.aurora-article-next {
    margin-top: 1rem;
    height: auto;
    width: 100%;
    display: flex;
}

.aurora-article-next-common {
    flex: 1;
}

.aurora-article-next-previous {
    padding-left: 2rem;
}

.aurora-article-next-next {
    text-align: right;
    padding-right: 2rem;
}

.aurora-article-next-common span {
    cursor: pointer;
    color: #fe938c;
    font-weight: bold;
}

@media screen and (max-width:719px) {
    .aurora-article-like {
        height: 3rem;
        font-size: 1rem;
    }

    .aurora-article-like-heart-svg {
        padding: .5rem;
    }

    .aurora-article-next-previous {
        padding-left: 0;
    }

    .aurora-article-next-next {
        padding-right: 0;
    }
}

.render-markdown-content img {
    width: 100%;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.page-image-box {
    padding: 1rem;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
}

.tag-select-icomoon svg {
    font-size: 1.5rem;
}

.tagDataControl svg {
    color: var(--aurora-global-active-color);
}

@media screen and (min-width: 719px) {
    .article-page-card {
        width: 85%;
        margin: 0 auto;
        padding-bottom: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media screen and (max-width: 719px) {
    .article-page-card {
        margin-top: 0;
    }
}

.aurora-top-image-public-time {
    position: absolute;
    right: 3rem;
    top: 5rem;
    display: flex;
    align-items: center;
    opacity: 0.5;
    font-size: 1rem;
}

.aurora-top-image-article-info {
    width: 97%;
    position: absolute;
    left: 3%;
    top: 50%;
}

.aurora-top-image-public-time svg {
    margin-left: .5rem;
}


.aurora-top-image-article-title {
}

.aurora-top-image-article-title h1 {
    margin: 1rem 0;
    text-align: left;
    font-weight: bold;
    opacity: 0.9;
    /*mix-blend-mode: difference;*/
}

.aurora-top-image-article-summary {
    width: 50%;
    margin-top: 1rem;
    opacity: 0.75;
    line-height: 1.75;
    /*mix-blend-mode: difference;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.page-top {
    color: #f5f5f5;
    /*mix-blend-mode: difference;*/
}

@media screen and (max-width: 719px) {

    .aurora-top-image-public-time {
        display: none;
        /*position: absolute;*/
        /*right: 3rem;*/
        /*top: 5rem;*/
        /*display: flex;*/
        /*align-items: center;*/
        /*opacity: 0.5;*/
        /*font-size: 1rem;*/
    }

    .aurora-top-image-article-info {
        width: 95%;
        position: absolute;
        left: 5%;
        bottom: 50%;
    }


    .aurora-top-image-article-title {
        height: 1.5rem;
        width: 90%;
        /*margin: 0 auto;*/
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .aurora-top-image-article-title h1 {
        font-size: 1rem;
        margin: 0;
        line-height: 1.5rem;
    }

    .aurora-top-image-article-summary {
        width: 90%;
        margin-top: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}

.aurora-article-summary {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.aurora-article-summary .summary-item {
    width: 100%;
    padding-right: 20px;
}

.aurora-article-summary h5 {
    color: #999;
}

.aurora-article-summary p {
    margin-top: 12px;
    font-size: 1.5rem;
}

@media screen and (max-width: 719px) {
    .aurora-article-summary-item-desc {
        display: none;
    }

    .summary-item h5 {
        font-size: 10px;
    }

    .aurora-article-summary .summary-item {
        padding-right: 0;
    }
}

.tag-page-left {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.aurora-page-card {
    margin: 0 auto;
}

@media screen and (min-width: 719px) {
    .aurora-page-card {
        width: 85%;
        padding-bottom: 2.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media screen and (max-width: 719px) {
    .aurora-page-card {
        /*margin-top: 0;*/
    }
}