### sql-generator ###
/auroraBackend/sql-generator
/auroraBackend/sql-generator-ts
/typescript-bean
/auroraBackend/runJarDirectory

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### 打印日志 ###
log

#eclipse ignore
.settings/
.project
.classpatch
*/.classpatch
.classpath
*/.classpath
*/bin/
.metadata/


### jrebel ###
**/rebel.xml


*/node_modules
*/src/typings/components.d.ts
*/package-lock.json
*/yarn.lock

# 排除测试页面
*/src/views/test