code[class*='language-'],
pre[class*='language-'] {
    color: #ccc;
    background: none;
    font-family: var(--font-family-code);
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #999;
}

.token.punctuation {
    color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
    color: #ec5975;
}

.token.function-name {
    color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
    color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
    color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
    color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
    color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
    color: #67cdcc;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.inserted {
    color: var(--c-text-accent);
}

.theme-default-content pre,
.theme-default-content pre[class*='language-'] {
    line-height: 1.4;
    padding: 1.25rem 1.5rem;
    margin: 0.85rem 0;
    border-radius: 6px;
    overflow: auto;
}

.theme-default-content pre code,
.theme-default-content pre[class*='language-'] code {
    color: #fff;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

.theme-default-content .line-number {
    font-family: var(--font-family-code);
}

div[class*='language-'] {
    position: relative;
    background-color: var(--code-bg-color);
    border-radius: 15px;
}

div[class*='language-']::before {
    position: absolute;
    z-index: 3;
    top: 0.8em;
    right: 1em;
    font-size: 0.75rem;
    color: var(--code-ln-color);
}

div[class*='language-'] pre,
div[class*='language-'] pre[class*='language-'] {
    background: transparent !important;
    position: relative;
    z-index: 1;
}

div[class*='language-'] .highlight-lines {
    user-select: none;
    padding-top: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1.4;
}

div[class*='language-'] .highlight-lines .highlight-line {
    background-color: var(--code-hl-bg-color);
}

div[class*='language-']:not(.line-numbers-mode) .line-numbers {
    display: none;
}

div[class*='language-'].line-numbers-mode .highlight-lines .highlight-line {
    position: relative;
}

div[class*='language-'].line-numbers-mode .highlight-lines .highlight-line::before {
    content: ' ';
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
    width: var(--code-ln-wrapper-width);
    height: 100%;
}

div[class*='language-'].line-numbers-mode pre {
    margin-left: var(--code-ln-wrapper-width);
    padding-left: 1rem;
    vertical-align: middle;
}

div[class*='language-'].line-numbers-mode .line-numbers {
    position: absolute;
    top: 0;
    width: var(--code-ln-wrapper-width);
    text-align: center;
    color: var(--code-ln-color);
    padding-top: 1.25rem;
    line-height: 1.4;
}

div[class*='language-'].line-numbers-mode .line-numbers br {
    user-select: none;
}

div[class*='language-'].line-numbers-mode .line-numbers .line-number {
    position: relative;
    z-index: 3;
    user-select: none;
    font-size: 0.85em;
}

div[class*='language-'].line-numbers-mode::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: var(--code-ln-wrapper-width);
    height: 100%;
    border-radius: 6px 0 0 6px;
    border-right: 1px solid var(--code-hl-bg-color);
}

div[class*='language-'].ext-c:before {
    content: "c";
}

div[class*='language-'].ext-cpp:before {
    content: "cpp";
}

div[class*='language-'].ext-cs:before {
    content: "cs";
}

div[class*='language-'].ext-css:before {
    content: "css";
}

div[class*='language-'].ext-dart:before {
    content: "dart";
}

div[class*='language-'].ext-docker:before {
    content: "docker";
}

div[class*='language-'].ext-fs:before {
    content: "fs";
}

div[class*='language-'].ext-go:before {
    content: "go";
}

div[class*='language-'].ext-html:before {
    content: "html";
}

div[class*='language-'].ext-java:before {
    content: "java";
}

div[class*='language-'].ext-js:before {
    content: "js";
}

div[class*='language-'].ext-json:before {
    content: "json";
}

div[class*='language-'].ext-kt:before {
    content: "kt";
}

div[class*='language-'].ext-less:before {
    content: "less";
}

div[class*='language-'].ext-makefile:before {
    content: "makefile";
}

div[class*='language-'].ext-md:before {
    content: "md";
}

div[class*='language-'].ext-php:before {
    content: "php";
}

div[class*='language-'].ext-py:before {
    content: "py";
}

div[class*='language-'].ext-rb:before {
    content: "rb";
}

div[class*='language-'].ext-rs:before {
    content: "rs";
}

div[class*='language-'].ext-sass:before {
    content: "sass";
}

div[class*='language-'].ext-scss:before {
    content: "scss";
}

div[class*='language-'].ext-sh:before {
    content: "sh";
}

div[class*='language-'].ext-styl:before {
    content: "styl";
}

div[class*='language-'].ext-ts:before {
    content: "ts";
}

div[class*='language-'].ext-toml:before {
    content: "toml";
}

div[class*='language-'].ext-vue:before {
    content: "vue";
}

div[class*='language-'].ext-yml:before {
    content: "yml";
}

@media (max-width: 419px) {
    .theme-default-content div[class*='language-'] {
        margin: 0 auto;
        border-radius: 15px;
    }
}


code {
    font-family: var(--fontFamily);
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}