html,
body {
  height: 100%;
  min-height: 450px;
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 500;
  color: #5d7399;
}

.error-content {
  height: calc(100vh);
  position: relative;
  z-index: 1;
  background-color: #d2e1ec;
  background-image: linear-gradient(to bottom, #bbcfe1 0%, #e8f2f6 80%);
  overflow: hidden;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 20;
}

.main-text {
  padding: 5vh 20px 0 20px;
  text-align: center;
  line-height: 2em;
  font-size: 5vh;
}

.main-text h1 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.home-link {
  font-size: 0.6em;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
  border-bottom: 1px dashed rgba(93, 115, 153, 0.5);
}

.home-link:hover {
  opacity: 1;
}

.ground {
  height: 160px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f6f9fa;
  box-shadow: 0 0 10px 10px #f6f9fa;
}

.ground:before, .ground:after {
  content: '';
  display: block;
  width: 250px;
  height: 250px;
  position: absolute;
  top: -62.5px;
  z-index: -1;
  background: transparent;
  transform: scaleX(0.2) rotate(45deg);
}

.ground:after {
  left: 50%;
  margin-left: -166.6666666667px;
  box-shadow: -310px 290px 15px #7e90b0, -625px 575px 15px #8e9eba, -880px 920px 15px #94a3be, -1210px 1190px 15px #91a1bc, -1520px 1480px 15px #a7b4c9, -1755px 1845px 15px #97a6c0, -2085px 2115px 15px #a1aec6, -2410px 2390px 15px #8a9bb8, -2675px 2725px 15px #a7b4c9, -3035px 2965px 15px #9dabc4, -3270px 3330px 15px #b4bed1, -3635px 3565px 15px #9dabc4, -3920px 3880px 15px #8e9eba, -4220px 4180px 15px #8496b4, -4495px 4505px 15px #b0bccf, -4840px 4760px 15px #8a9bb8;
}

.ground:before {
  right: 50%;
  margin-right: -166.6666666667px;
  box-shadow: 325px -275px 15px #8a9bb8, 635px -565px 15px #8a9bb8, 915px -885px 15px #bac4d5, 1205px -1195px 15px #b0bccf, 1455px -1545px 15px #8e9eba, 1830px -1770px 15px #aab6cb, 2150px -2050px 15px #7e90b0, 2385px -2415px 15px #b7c1d3, 2750px -2650px 15px #97a6c0, 3025px -2975px 15px #b0bccf, 3270px -3330px 15px #adb9cd, 3590px -3610px 15px #a7b4c9, 3930px -3870px 15px #8193b2, 4195px -4205px 15px #8e9eba, 4455px -4545px 15px #8193b2, 4785px -4815px 15px #b0bccf;
}

.mound {
  margin-top: -80px;
  font-weight: 800;
  font-size: 180px;
  text-align: center;
  color: #dd4040;
  pointer-events: none;
}

.mound:before {
  content: '';
  display: block;
  width: 600px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -300px;
  top: 50px;
  z-index: 1;
  border-radius: 100%;
  background-color: #e8f2f6;
  background-image: linear-gradient(to bottom, #dee8f1, #f6f9fa 60px);
}

.mound:after {
  content: '';
  display: block;
  width: 28px;
  height: 6px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 68px;
  z-index: 2;
  background: #dd4040;
  border-radius: 100%;
  transform: rotate(-15deg);
  box-shadow: -56px 12px 0 1px #dd4040, -126px 6px 0 2px #dd4040, -196px 24px 0 3px #dd4040;
}

.mound_text {
  transform: rotate(6deg);
}

.mound_spade {
  display: block;
  width: 35px;
  height: 30px;
  position: absolute;
  right: 50%;
  top: 42%;
  margin-right: -250px;
  z-index: 0;
  transform: rotate(35deg);
  background: #dd4040;
}

.mound_spade:before, .mound_spade:after {
  content: '';
  display: block;
  position: absolute;
}

.mound_spade:before {
  width: 40%;
  height: 30px;
  bottom: 98%;
  left: 50%;
  margin-left: -20%;
  background: #dd4040;
}

.mound_spade:after {
  width: 100%;
  height: 30px;
  top: -55px;
  left: 0%;
  box-sizing: border-box;
  border: 10px solid #dd4040;
  border-radius: 4px 4px 20px 20px;
}

@media screen and (max-width: 719px) {
  .main-text h1 {
    font-size: 2rem;
  }
}

.aurora-error-go-back {
  cursor: pointer;
  z-index: 20;
}