.blog-article {
    padding-bottom: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.theme-default-content {

}

.theme-default-content img {
    width: 100%;
    margin: 0 auto;
}

.aurora-article-like {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aurora-article-like-heart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aurora-article-like-heart-svg {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 100px;
    transition: all 1s;
    background-color: #f5f5f5;
    color: #ef476f;
    margin: 0 auto;
}

.aurora-article-like-heart-num {
    display: flex;
    margin-top: .5rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

/*.aurora-article-like-heart:hover {*/
/*    background-color: #f5f5f5;*/
/*    color: #ef476f;*/
/*}*/

.aurora-article-like-heart-active {
    color: #f5f5f5;
    background-color: #ef476f;
}

.aurora-article-tag {
    margin-top: 1rem;
}

.aurora-article-tag svg {
    margin-right: .3rem;
    font-size: 1rem;
}
.aurora-article-tag-single {
    margin-right: .5rem;
}

.aurora-article-info {
    margin-top: 1rem;
    border-radius: 16px;
    padding: .5rem;
    background-color: rgba(203, 243, 240, 0.93);
    word-wrap: break-word;
}

.aurora-article-info-author svg {
    margin-right: .5rem;
}

.aurora-article-next {
    margin-top: 1rem;
    height: auto;
    width: 100%;
    display: flex;
}

.aurora-article-next-common {
    flex: 1;
}

.aurora-article-next-previous {
    padding-left: 2rem;
}

.aurora-article-next-next {
    text-align: right;
    padding-right: 2rem;
}

.aurora-article-next-common span {
    cursor: pointer;
    color: #fe938c;
    font-weight: bold;
}

@media screen and (max-width:719px) {
    .aurora-article-like {
        height: 3rem;
        font-size: 1rem;
    }

    .aurora-article-like-heart-svg {
        padding: .5rem;
    }

    .aurora-article-next-previous {
        padding-left: 0;
    }

    .aurora-article-next-next {
        padding-right: 0;
    }
}

.render-markdown-content img {
    width: 100%;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.page-image-box {
    padding: 1rem;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.1);
}