<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 日志存放路径 -->
    <property name="log_path" value="/Volumes/Code/Java-code/aurora-theme/log" />
    <!-- 控制台打印 -->
    <property name="log_pattern" value="%d{yyyy-MM-dd HH:mm:ss:SSS}  %green(%-5level) %magenta(${PID:-}) --- [%t] %cyan(%logger{10}) : %msg%n" />
    <!-- 打印请求处理时间 -->
    <property name="log_logRequestTime" value="%d{yyyy-MM-dd HH:mm:ss:SSS} ${PID:-} --- [%t] : %msg%n" />
    <!--记录service层处理数据的操作-->
    <property name="service-process-data-pattern" value="%d{yyyy-MM-dd HH:mm:ss:SSS} ${PID:-} --- [%t] : %msg%n" />
    <!-- 文件中打印 -->
    <property name="log_note" value="%d{yyyy-MM-dd HH:mm:ss:SSS} %-5level ${PID:-} -- %t %logger{50}--%method  -%msg%n"/>
    <!-- 当前项目的日志存放在哪个文件夹中 -->
    <property name="log_folder" value="aurora-comment"/>
    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--
            %-5level是日志级别
            ${PID:-}进程号
            %t线程名称
            %logger{50}会打印类名
            -->
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>

    <!--系统控制台的打印日志-->
    <appender name="operation-info" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/${log_folder}/sys-info.log</file>
        <!-- 循环政策：基于时间创建日志文件 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件名格式 -->
            <fileNamePattern>${log_path}/${log_folder}/sys-info-rolling/sys-info-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>0.1</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log_note}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
           <!--  过滤的级别
            <level>ERROR</level>
            &lt;!&ndash; 匹配时的操作：接收（记录） &ndash;&gt;
            <onMatch>ACCEPT</onMatch>
            &lt;!&ndash; 不匹配时的操作：拒绝（不记录） &ndash;&gt;
            <onMismatch>DENY</onMismatch>-->
        </filter>
    </appender>

    <!-- 操作service层的数据  -->
    <appender name="service-process-data" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/${log_folder}/service-process-data.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>${log_path}/${log_folder}/service-process-data-rolling/service-process-data-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>0.01</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${service-process-data-pattern}</pattern>
        </encoder>
    </appender>

    <!-- 处理请求时间  -->
    <appender name="user-processRequestTime" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/${log_folder}/process-request-time.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>${log_path}/${log_folder}/process-request-time-rolling/process-request-time-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>0.01</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log_logRequestTime}</pattern>
        </encoder>
    </appender>

    <!-- 发生异常日志输出  -->
    <appender name="sys-exception" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/${log_folder}/sys-exception.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>${log_path}/${log_folder}/sys-exception-rolling/sys-exception-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <maxHistory>0.01</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${log_note}</pattern>
        </encoder>
    </appender>

    <!-- 记录处理service的结果，增删改查操作  -->
    <logger name="xyz.xcye.aurora.manager.aop.AuroraGlobalLogAop" level="INFO" additivity="true">
        <appender-ref ref="service-process-data"/>
    </logger>

    <!-- 打印处理请求花费的时间  -->
    <logger name="xyz.xcye.aurora.manager.aop.AuroraGlobalLogRequestAop" level="INFO" additivity="false">
        <appender-ref ref="user-processRequestTime"/>
    </logger>

    <!--sys-exception-->
    <!-- 全局异常处理里面的异常信息  -->
    <logger name="xyz.xcye.aurora.exception.AuroraGlobalExceptionHandler" level="WARN" additivity="true">
        <appender-ref ref="sys-exception"/>
    </logger>

    <!--指定基础的日志输出级别-->
    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="operation-info"/>
    </root>

    <!--将控制台打印的信息，放入到文件中-->

</configuration>