<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.xcye.message.dao.EmailLogDao">
    <cache type="xyz.xcye.mybatis.MybatisLowFrequentCacheAutoConfig"/>

    <insert id="insertEmailLog" keyProperty="uid" keyColumn="uid" useGeneratedKeys="true">
        insert  into
            au_email_log
        (sender,subject,content,receiver,is_send)
        values
        (#{emailLog.sender},#{emailLog.subject},#{emailLog.content},#{emailLog.receiver},#{emailLog.send})
    </insert>

    <update id="updateEmailLog">
        update
            au_email_log
        <set>
            <if test="emailLog.sender != null">
                sender=#{emailLog.sender},
            </if>
            <if test="emailLog.subject != null">
                subject=#{emailLog.subject},
            </if>
            <if test="emailLog.content != null">
                content=#{emailLog.content},
            </if>
            <if test="emailLog.receiver != null">
                receiver=#{emailLog.receiver},
            </if>
            <if test="emailLog.send != null">
                is_send=#{emailLog.send},
            </if>
        </set>
        where
            uid=#{emailLog.uid}
    </update>

    <delete id="deleteEmailLog">
        delete from
            au_email_log
        where
            uid=#{uid}
    </delete>

    <select id="queryAll" resultMap="emailLogMap">
        select
            uid,sender,subject,content,receiver,create_time,update_time,is_send
        from
          au_email_log
        <where>
            <if test="condition.keyword != null">
                and receiver like concat('%', #{condition.keyword}, '%')
            </if>
            <if test="condition.status != null">
                and is_send=#{condition.status}
            </if>
            <if test="condition.startTime != null and condition.endTime != null">
                and create_time between #{condition.startTime} and #{condition.endTime}
            </if>
            <if test="condition.uid != null">
                and uid=#{condition.uid}
            </if>
        </where>
    </select>

    <resultMap id="emailLogMap" type="xyz.xcye.message.po.EmailLog">
        <id column="uid" property="uid"/>
        <result column="sender" property="sender"/>
        <result column="subject" property="subject"/>
        <result column="content" property="content"/>
        <result column="receiver" property="receiver"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_send" property="send"/>
    </resultMap>
</mapper>