<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xcye.article.dao.BulletinMapper">
  <resultMap id="BaseResultMap" type="xyz.xcye.article.po.Bulletin">
    <!--@mbg.generated-->
    <!--@Table au_bulletin-->
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_uid" jdbcType="BIGINT" property="userUid" />
    <result column="is_show" jdbcType="TINYINT" property="show" />
    <result column="is_timing" jdbcType="TINYINT" property="timing" />
    <result column="timing_publish_time" jdbcType="TIMESTAMP" property="timingPublishTime" />
    <result column="is_delete" jdbcType="TINYINT" property="delete" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="xyz.xcye.article.po.Bulletin">
    <!--@mbg.generated-->
    <!--@Table au_bulletin-->
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, title, create_time, update_time, user_uid, is_show, is_timing, timing_publish_time, 
    is_delete
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    content
  </sql>
  <select id="selectByCondition" resultMap="ResultMapWithBLOBs">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from au_bulletin
    <where>
      <if test="condition.startTime != null and condition.endTime != null">
        and create_time between #{condition.startTime} and #{condition.endTime}
      </if>
      <if test="condition.uid != null">
        and uid=#{condition.uid}
      </if>
      <if test="condition.otherUid != null">
        and user_uid=#{condition.otherUid}
      </if>
      <if test="condition.keyword != null">
        and content like concat('%',#{condition.keyword},'%')
      </if>
      <if test="condition.delete != null">
        and is_delete=#{condition.delete}
      </if>
      <if test="condition.status != null">
        and is_timing=#{condition.status}
      </if>
      <if test="condition.show != null ">
        and is_show=#{condition.show}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from au_bulletin
    where `uid` = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="xyz.xcye.article.po.Bulletin">
    <!--@mbg.generated-->
    insert into au_bulletin (`uid`, title, create_time, 
      update_time, user_uid, is_show, 
      is_timing, timing_publish_time, is_delete, 
      content)
    values (#{uid,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{userUid,jdbcType=BIGINT}, #{show,jdbcType=TINYINT}, 
      #{timing,jdbcType=TINYINT}, #{timingPublishTime,jdbcType=TIMESTAMP}, #{delete,jdbcType=TINYINT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="xyz.xcye.article.po.Bulletin">
    <!--@mbg.generated-->
    insert into au_bulletin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="title != null and title != ''">
        title,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="userUid != null">
        user_uid,
      </if>
      <if test="show != null">
        is_show,
      </if>
      <if test="timing != null">
        is_timing,
      </if>
      <if test="timingPublishTime != null">
        timing_publish_time,
      </if>
      <if test="delete != null">
        is_delete,
      </if>
      <if test="content != null and content != ''">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="title != null and title != ''">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUid != null">
        #{userUid,jdbcType=BIGINT},
      </if>
      <if test="show != null">
        #{show,jdbcType=TINYINT},
      </if>
      <if test="timing != null">
        #{timing,jdbcType=TINYINT},
      </if>
      <if test="timingPublishTime != null">
        #{timingPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=TINYINT},
      </if>
      <if test="content != null and content != ''">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.xcye.article.po.Bulletin">
    <!--@mbg.generated-->
    update au_bulletin
    <set>
      <if test="title != null and title != ''">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUid != null">
        user_uid = #{userUid,jdbcType=BIGINT},
      </if>
      <if test="show != null">
        is_show = #{show,jdbcType=TINYINT},
      </if>
      <if test="timing != null">
        is_timing = #{timing,jdbcType=TINYINT},
      </if>
      <if test="timingPublishTime != null">
        timing_publish_time = #{timingPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delete != null">
        is_delete = #{delete,jdbcType=TINYINT},
      </if>
      <if test="content != null and content != ''">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where `uid` = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="xyz.xcye.article.po.Bulletin">
    <!--@mbg.generated-->
    update au_bulletin
    set title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_uid = #{userUid,jdbcType=BIGINT},
      is_show = #{show,jdbcType=TINYINT},
      is_timing = #{timing,jdbcType=TINYINT},
      timing_publish_time = #{timingPublishTime,jdbcType=TIMESTAMP},
      is_delete = #{delete,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where `uid` = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="xyz.xcye.article.po.Bulletin">
    <!--@mbg.generated-->
    update au_bulletin
    set title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      user_uid = #{userUid,jdbcType=BIGINT},
      is_show = #{show,jdbcType=TINYINT},
      is_timing = #{timing,jdbcType=TINYINT},
      timing_publish_time = #{timingPublishTime,jdbcType=TIMESTAMP},
      is_delete = #{delete,jdbcType=TINYINT}
    where `uid` = #{uid,jdbcType=BIGINT}
  </update>
</mapper>