<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xcye.article.dao.TagMapper">

  <cache type="xyz.xcye.mybatis.MybatisLowFrequentCacheAutoConfig"/>

  <resultMap id="BaseResultMap" type="xyz.xcye.article.po.Tag">
    <!--@mbg.generated-->
    <!--@Table au_tag-->
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="cover_Url" jdbcType="VARCHAR" property="coverUrl" />
    <result column="is_delete" jdbcType="TINYINT" property="delete" />
    <result column="user_uid" jdbcType="BIGINT" property="userUid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, title, summary, created_time, updated_time, cover_Url, is_delete, user_uid
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from au_tag
    <where>
      <if test="condition.uid != null">
        and uid=#{condition.uid}
      </if>
      <if test="condition.keyword != null">
        and title like concat(#{condition.keyword},'%')
      </if>
      <if test="condition.otherUid != null">
        and user_uid=#{condition.otherUid}
      </if>
      <if test="condition.startTime != null and condition.endTime != null">
        and create_time between #{condition.startTime} and #{condition.endTime}
      </if>
      <if test="condition.delete != null">
        and is_delete=#{condition.delete}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from au_tag
    where `uid` = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" keyColumn="uid" keyProperty="uid" parameterType="xyz.xcye.article.po.Tag" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into au_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null and title != ''">
        title,
      </if>
      <if test="summary != null and summary != ''">
        summary,
      </if>
      <if test="coverUrl != null and coverUrl != ''">
        cover_Url,
      </if>
      <if test="delete != null">
        is_delete,
      </if>
      <if test="userUid != null">
        user_uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null and title != ''">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null and summary != ''">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null and coverUrl != ''">
        #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=TINYINT},
      </if>
      <if test="userUid != null">
        #{userUid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.xcye.article.po.Tag">
    <!--@mbg.generated-->
    update au_tag
    <set>
      <if test="title != null and title != ''">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null and summary != ''">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="coverUrl != null and coverUrl != ''">
        cover_Url = #{coverUrl,jdbcType=VARCHAR},
      </if>
      <if test="delete != null">
        is_delete = #{delete,jdbcType=TINYINT},
      </if>
      <if test="userUid != null">
        user_uid = #{userUid,jdbcType=BIGINT},
      </if>
    </set>
    where `uid` = #{uid,jdbcType=BIGINT}
  </update>

  <select id="selectByTitle" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from au_tag
    where title=#{title,jdbcType=VARCHAR}
  </select>
</mapper>