<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xcye.admin.dao.PermissionMapper">

    <cache type="xyz.xcye.mybatis.MybatisLowFrequentCacheAutoConfig"/>

    <resultMap id="BaseResultMap" type="xyz.xcye.admin.po.Permission">
            <id property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,name,path,
        create_time,update_time
    </sql>

    <select id="queryAllPermission" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from au_permission
        <where>
            <if test="condition.uid != null">
                and uid=#{condition.uid}
            </if>
            <if test="condition.keyword != null">
                and path=#{condition.keyword}
            </if>
            <if test="condition.startTime != null and condition.endTime != null">
                and create_time between #{condition.startTime} and #{condition.endTime}
            </if>
        </where>
    </select>

    <delete id="deleteByUid" parameterType="java.lang.Long">
        delete from au_permission
        where  uid = #{uid,jdbcType=BIGINT} 
    </delete>
    <insert id="insertPermission" keyColumn="uid" keyProperty="uid" parameterType="xyz.xcye.admin.po.Permission" useGeneratedKeys="true">
        insert into au_permission
        ( uid,name,path)
        values (#{uid,jdbcType=BIGINT},#{name,jdbcType=VARCHAR},#{path,jdbcType=VARCHAR})
    </insert>

    <update id="updatePermission" parameterType="xyz.xcye.admin.po.Permission">
        update au_permission
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="path != null">
                    path = #{path,jdbcType=VARCHAR},
                </if>
        </set>
        where   uid = #{uid,jdbcType=BIGINT} 
    </update>
</mapper>
