<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xcye.admin.dao.RoleMapper">

    <resultMap id="BaseResultMap" type="xyz.xcye.admin.po.Role">
            <id property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,name,create_time,
        update_time,status
    </sql>

    <select id="selectAllRole" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from au_role
        <where>
            <if test="condition.startTime != null and condition.endTime != null">
                and create_time between #{condition.startTime} and #{condition.endTime}
            </if>
            <if test="condition.uid != null">
                and uid=#{condition.uid}
            </if>
            <if test="condition.keyword != null">
                and name=#{condition.keyword}
            </if>
            <if test="condition.status != null">
                and status=#{condition.status}
            </if>
        </where>
    </select>

    <delete id="deleteByUid" parameterType="java.lang.Long">
        delete from au_role
        where  uid = #{uid,jdbcType=BIGINT} 
    </delete>

    <insert id="insertRole" keyColumn="uid" keyProperty="uid" parameterType="xyz.xcye.admin.po.Role" useGeneratedKeys="true">
        insert into au_role
        ( uid,name,status)
        values (#{uid,jdbcType=BIGINT},#{name,jdbcType=VARCHAR},#{status,jdbcType=TINYINT})
    </insert>

    <update id="updateRole" parameterType="xyz.xcye.admin.po.Role">
        update au_role
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="status != null">
                    status = #{status,jdbcType=TINYINT},
                </if>
        </set>
        where   uid = #{uid,jdbcType=BIGINT} 
    </update>
</mapper>
