<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xcye.admin.dao.SiteMapper">

  <cache type="xyz.xcye.mybatis.MybatisLowFrequentCacheAutoConfig"/>

  <resultMap id="BaseResultMap" type="xyz.xcye.admin.po.Site">
    <!--@mbg.generated-->
    <!--@Table au_site-->
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="site_icon" jdbcType="VARCHAR" property="siteIcon" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="logo_title" jdbcType="VARCHAR" property="logoTitle" />
    <result column="site_logo" jdbcType="VARCHAR" property="siteLogo" />
    <result column="site_center_logo" jdbcType="VARCHAR" property="siteCenterLogo" />
    <result column="user_uid" jdbcType="BIGINT" property="userUid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="TINYINT" property="delete" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="xyz.xcye.admin.po.Site">
    <!--@mbg.generated-->
    <!--@Table au_site-->
    <result column="additional_head" jdbcType="LONGVARCHAR" property="additionalHead" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, site_icon, title, logo_title, site_logo, site_center_logo, user_uid, create_time, 
    update_time, is_delete
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    additional_head
  </sql>
  <select id="selectByCondition" resultMap="ResultMapWithBLOBs">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from au_site
    <where>
      <if test="condition.uid != null">
        and uid=#{condition.uid}
      </if>
      <if test="condition.otherUid != null">
        and user_uid=#{condition.otherUid}
      </if>
      <if test="condition.startTime != null and condition.endTime != null">
        and create_time between #{condition.startTime} and #{condition.endTime}
      </if>
      <if test="condition.keyword != null">
        and logo_title=#{condition.keyword}
      </if>
      <if test="condition.delete !=null">
        and is_delete=#{condition.delete}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from au_site
    where `uid` = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insertSelective" parameterType="xyz.xcye.admin.po.Site">
    <!--@mbg.generated-->
    insert into au_site
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="siteIcon != null and siteIcon != ''">
        site_icon,
      </if>
      <if test="title != null and title != ''">
        title,
      </if>
      <if test="logoTitle != null and logoTitle != ''">
        logo_title,
      </if>
      <if test="siteLogo != null and siteLogo != ''">
        site_logo,
      </if>
      <if test="siteCenterLogo != null and siteCenterLogo != ''">
        site_center_logo,
      </if>
      <if test="userUid != null">
        user_uid,
      </if>
      <if test="delete != null">
        is_delete,
      </if>
      <if test="additionalHead != null and additionalHead != ''">
        additional_head,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="siteIcon != null and siteIcon != ''">
        #{siteIcon,jdbcType=VARCHAR},
      </if>
      <if test="title != null and title != ''">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="logoTitle != null and logoTitle != ''">
        #{logoTitle,jdbcType=VARCHAR},
      </if>
      <if test="siteLogo != null and siteLogo != ''">
        #{siteLogo,jdbcType=VARCHAR},
      </if>
      <if test="siteCenterLogo != null and siteCenterLogo != ''">
        #{siteCenterLogo,jdbcType=VARCHAR},
      </if>
      <if test="userUid != null">
        #{userUid,jdbcType=BIGINT},
      </if>
      <if test="delete != null">
        #{delete,jdbcType=TINYINT},
      </if>
      <if test="additionalHead != null and additionalHead != ''">
        #{additionalHead,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.xcye.admin.po.Site">
    <!--@mbg.generated-->
    update au_site
    <set>
      <if test="siteIcon != null and siteIcon != ''">
        site_icon = #{siteIcon,jdbcType=VARCHAR},
      </if>
      <if test="title != null and title != ''">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="logoTitle != null and logoTitle != ''">
        logo_title = #{logoTitle,jdbcType=VARCHAR},
      </if>
      <if test="siteLogo != null and siteLogo != ''">
        site_logo = #{siteLogo,jdbcType=VARCHAR},
      </if>
      <if test="siteCenterLogo != null and siteCenterLogo != ''">
        site_center_logo = #{siteCenterLogo,jdbcType=VARCHAR},
      </if>
      <if test="userUid != null">
        user_uid = #{userUid,jdbcType=BIGINT},
      </if>
      <if test="delete != null">
        is_delete = #{delete,jdbcType=TINYINT},
      </if>
      <if test="additionalHead != null and additionalHead != ''">
        additional_head = #{additionalHead,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where `uid` = #{uid,jdbcType=BIGINT}
  </update>
</mapper>