<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.xcye.admin.dao.UserAccountDao">

    <resultMap id="userAccountResultMap" type="xyz.xcye.admin.po.UserAccount">
        <result column="is_account_locked" property="accountLocked"/>
        <result column="is_account_expired" property="accountExpired"/>
    </resultMap>

    <insert id="insert">
        insert into au_user_account
        (
         uid,role,permission,is_account_locked,is_account_expired,user_uid,create_time,update_time,is_delete
        )
        values
        (
         #{userAccount.uid},#{userAccount.role},#{userAccount.permission},
         #{userAccount.accountLocked},#{userAccount.accountExpired},#{userAccount.userUid},
         #{userAccount.createTime},#{userAccount.updateTime},#{userAccount.delete}
        )
    </insert>

    <update id="update">
        update au_user_account
        <set>
            <if test="userAccount.role != null">
                role=#{userAccount.role},
            </if>
            <if test="userAccount.permission != null">
                permission=#{userAccount.permission},
            </if>
            <if test="userAccount.accountLocked != null">
                is_account_locked=#{userAccount.accountLocked},
            </if>
            <if test="userAccount.accountExpired != null">
                is_account_expired=#{userAccount.accountExpired},
            </if>
            <if test="userAccount.updateTime != null">
                update_time=#{userAccount.updateTime},
            </if>
            <if test="userAccount.delete != null">
                is_delete=#{userAccount.delete}
            </if>
        </set>
        where uid=#{userAccount.uid}
    </update>

    <delete id="deleteByUid">
        delete
            au_user_account
        where
            uid=#{uid}
    </delete>

    <select id="queryAllByCondition" resultType="xyz.xcye.admin.po.UserAccount">
        select
        uid,role,permission,is_account_locked,is_account_expired,user_uid,create_time,update_time,is_delete
        from
            au_user_account
        <where>
            <if test="condition.startTime != null and condition.endTime != null">
                and create_time between #{condition.startTime} and #{condition.endTime}
            </if>
            <if test="condition.uid != null">
                and uid=#{condition.uid}
            </if>
            <if test="condition.keyword != null">
                and `role` like concat('%', #{condition.keyword}, '%')
            </if>
            <if test="condition.otherUid != null">
                and user_uid=#{condition.otherUid}
            </if>
            <if test="condition.delete != null">
                and is_delete=#{condition.delete}
            </if>
        </where>
    </select>
</mapper>