<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xyz.xcye.admin.dao.RoleDao">

    <resultMap id="roleResultMap" type="xyz.xcye.admin.vo.RoleVO">
        <id column="uid" property="uid"/>
        <result column="role" property="role"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert">
        insert into au_role
            (role,create_time,update_time)
        values
            (#{roleDO.role},#{roleDO.createTime},#{roleDO.updateTime})
    </insert>
    <update id="update">
        update
            au_role
        <set>
            <if test="roleDO.role != null">
                role=#{roleDO.role},
            </if>
            <if test="roleDO.updateTime != null">
                update_time=#{roleDO.updateTime},
            </if>
        </set>
        where
            uid=#{roleDO.uid}
    </update>
    <delete id="deleteByUid">
        delete from
            au_role
        where
            uid=#{uid}
    </delete>
    <select id="queryAll" resultMap="roleResultMap">
        select
            uid,role,create_time,update_time
        from
            au_role
        <where>
            <if test="roleDO.role != null">
                role=#{roleDO.role}
            </if>
            <if test="roleDO.createTime != null">
                and create_time=#{roleDO.createTime}
            </if>
            <if test="roleDO.updateTime != null">
                and update_time=#{roleDO.updateTime}
            </if>
            <if test="roleDO.uid != null">
                and uid=#{roleDO.uid}
            </if>
        </where>
    </select>
    <select id="queryByUid" resultMap="roleResultMap">
        select
            uid,role,create_time,update_time
        from
            au_role
        where
            uid=#{uid}
    </select>
</mapper>