:root {
	/*画廊*/
	--pc-gallery-column: 4;
	--mobile-gallery-column: 2;
}

.wh-full {
	width: 100%;
	height: 100%;
}

.dragArea {
	margin-top: .5rem;
	margin-left: 1rem;
}

.dragArea .list-group-item {
	font-size: var(--n-font-size);
	padding: .5rem;
	margin-top: .5rem;
}

.dragArea .sortable-chosen {
	border: 1px solid #9ca3af;
	border-radius: 16px;
}

#gallery {
	column-count: var(--pc-gallery-column);
	column-gap: .5rem;
	padding: .5rem;
}

#gallery img {
	width: 100% !important;
	height: auto !important;
	margin-bottom: .5rem;
	border-radius: 10px;
}

.gallery-item {
	position: relative;
	overflow: hidden;
}

.gallery-img-desc {
	position: absolute;
	right: 0;
	bottom: 0.5rem;
	width: 100%;
	height: auto;
	overflow: scroll;
	max-height: calc(100% - 0.5rem);
	transition: all .5s;
	padding: .5rem;
	transform: translateX(-100rem);
}

.gallery-img-desc::-webkit-scrollbar {
	display: none
}

.gallery-item:hover .gallery-img-desc {
	transform: translateX(0);
}

.gallery-more {
	height: 2rem;
	width: 100%;
	text-align: center;
}

.gallery-more span {
	line-height: 2rem;
	padding: 0 1rem;
	display: inline-block;
	font-size: 1rem;
	cursor: pointer;
}

@media (max-width: 719px) {
	#gallery {
		column-count: var(--mobile-gallery-column);
	}
}

.aurora-video {
	width: 100%;
	height: 100%;
	padding: .5rem;
	border-radius: 1rem;
	background-color: rgba(255, 255, 255, 0.1);
}

#auroraVideoPlayer {
	width: 100%;
	height: 100%;
	padding-top: 0;
	border-radius: 1rem;
}
.vjs-control-bar {
	border-bottom-left-radius: 1rem !important;
	border-bottom-right-radius: 1rem !important;
}
