<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xcye.file.dao.FileMapper">
  <resultMap id="BaseResultMap" type="xyz.xcye.file.po.File">
    <!--@mbg.generated-->
    <!--@Table au_file-->
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="storage_mode" jdbcType="INTEGER" property="storageMode" />
    <result column="storage_path" jdbcType="VARCHAR" property="storagePath" />
    <result column="is_delete" jdbcType="TINYINT" property="delete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="user_uid" jdbcType="BIGINT" property="userUid"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, file_name, `size`, summary, `path`, storage_mode, storage_path, is_delete, 
    create_time, delete_time,user_uid
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from au_file
    <where>
      <if test="condition.startTime != null and condition.endTime != null">
        and create_time between #{condition.startTime} and #{condition.endTime}
      </if>
      <if test="condition.uid != null">
        and uid=#{condition.uid}
      </if>
      <if test="condition.otherUid != null">
        and user_uid=#{condition.otherUid}
      </if>
      <if test="condition.keyword != null">
        and file_name=#{condition.keyword}
      </if>
      <if test="condition.delete !=null">
        and is_delete=#{condition.delete}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from au_file
    where `uid` = #{uid,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="xyz.xcye.file.po.File">
    <!--@mbg.generated-->
    insert into au_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="userUid != null">
        `user_uid`,
      </if>
      <if test="fileName != null and fileName != ''">
        file_name,
      </if>
      <if test="size != null">
        `size`,
      </if>
      <if test="summary != null and summary != ''">
        summary,
      </if>
      <if test="path != null and path != ''">
        `path`,
      </if>
      <if test="storageMode != null">
        storage_mode,
      </if>
      <if test="storagePath != null and storagePath != ''">
        storage_path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="userUid != null">
        #{userUid,jdbcType=BIGINT},
      </if>
      <if test="fileName != null and fileName != ''">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=BIGINT},
      </if>
      <if test="summary != null and summary != ''">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="path != null and path != ''">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="storageMode != null">
        #{storageMode,jdbcType=INTEGER},
      </if>
      <if test="storagePath != null and storagePath != ''">
        #{storagePath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.xcye.file.po.File">
    <!--@mbg.generated-->
    update au_file
    <set>
      <if test="fileName != null and fileName != ''">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        `size` = #{size,jdbcType=BIGINT},
      </if>
      <if test="summary != null and summary != ''">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="path != null and path != ''">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="storageMode != null">
        storage_mode = #{storageMode,jdbcType=INTEGER},
      </if>
      <if test="storagePath != null and storagePath != ''">
        storage_path = #{storagePath,jdbcType=VARCHAR},
      </if>
      <if test="delete != null">
        is_delete = #{delete,jdbcType=TINYINT},
      </if>
      <if test="deleteTime != null and deleteTime != ''">
        delete_time = #{deleteTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userUid != null">
        user_uid=#{userUid,jdbcType=BIGINT},
      </if>
    </set>
    where `uid` = #{uid,jdbcType=BIGINT}
  </update>
</mapper>