.navbar {
    max-height: var(--navbar-height);
    background: rgba(255, 255, 255, 0);
    transition: all 0.7s cubic-bezier(0, 0, 0.37, 0.94);
    opacity: 0;
    --navbar-line-height: calc(
            var(--navbar-height) - 2 * var(--navbar-padding-v)
    );
    padding: var(--navbar-padding-v) var(--navbar-padding-h);
    line-height: var(--navbar-line-height);
}

.navbar .logo {
    height: var(--navbar-line-height);
    width: var(--navbar-line-height);
    min-width: var(--navbar-line-height);
    margin-right: var(--navbar-padding-v);
    vertical-align: top;
}

.navbar .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--c-text);
    position: relative;
}

.navbar .navbar-links-wrapper {
    display: flex;
    position: absolute;
    box-sizing: border-box;
    top: var(--navbar-padding-v);
    right: var(--navbar-padding-h);
    height: var(--navbar-line-height);
    padding-left: var(--navbar-padding-h);
    margin-left: 10px;
    white-space: nowrap;
    font-size: 0.9rem;
}

.navbar .navbar-links-wrapper div a {
    padding-right: 2rem;
}

.navbar-box {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    max-height: var(--navbar-height);
}

.header-bg-show:hover {
    background: rgba(255, 255, 255, 0.61);
}

.header-bg-show {
    opacity: 1;
}

@media (max-width: 719px) {
    .navbar {
        padding-left: 4rem;
    }
    .navbar .can-hide {
        display: none;
    }
    .navbar .site-name {
        width: calc(100vw - 9.4rem);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .navbar .navbar-links-wrapper {
        display: none;
    }
}
