<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.xcye.comment.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="xyz.xcye.comment.po.Comment">
    <!--@mbg.generated-->
    <!--@Table au_comment-->
    <id column="uid" jdbcType="BIGINT" property="uid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="site" jdbcType="VARCHAR" property="site" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="comment_ip" jdbcType="VARCHAR" property="commentIp" />
    <result column="operation_system_info" jdbcType="VARCHAR" property="operationSystemInfo" />
    <result column="is_show_comment" jdbcType="TINYINT" property="showComment" />
    <result column="reply_comment_uid" jdbcType="BIGINT" property="replyCommentUid" />
    <result column="is_email_notice" jdbcType="TINYINT" property="emailNotice" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="user_uid" jdbcType="BIGINT" property="userUid" />
    <result column="is_delete" jdbcType="TINYINT" property="delete" />
    <result column="page_type" jdbcType="VARCHAR" property="pageType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="xyz.xcye.comment.po.Comment">
    <!--@mbg.generated-->
    <!--@Table au_comment-->
    <result column="next_comment_uid_array" jdbcType="LONGVARCHAR" property="nextCommentUidArray" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `uid`, username, avatar, site, email, create_time, update_time, comment_ip, operation_system_info, 
    is_show_comment, reply_comment_uid, is_email_notice, `path`, content, user_uid, is_delete, 
    page_type
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    next_comment_uid_array
  </sql>
  <select id="selectByCondition" resultMap="ResultMapWithBLOBs">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from au_comment
    <where>
      <if test="condition.startTime != null and condition.endTime != null">
        and create_time between #{condition.startTime} and #{condition.endTime}
      </if>
      <if test="condition.uid != null">
        and uid=#{condition.uid}
      </if>
      <if test="condition.keyword != null">
        and content like concat('%', #{condition.keyword},'%')
      </if>
      <if test="condition.delete !=null">
        and is_delete=#{condition.delete}
      </if>
      <if test="condition.status != null">
        and is_show=#{condition.show}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from au_comment
    where `uid` = #{uid,jdbcType=BIGINT}
  </delete>

  <insert id="insertSelective" parameterType="xyz.xcye.comment.po.Comment">
    <!--@mbg.generated-->
    insert into au_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        `uid`,
      </if>
      <if test="username != null and username != ''">
        username,
      </if>
      <if test="avatar != null and avatar != ''">
        avatar,
      </if>
      <if test="site != null and site != ''">
        site,
      </if>
      <if test="email != null and email != ''">
        email,
      </if>
      <if test="commentIp != null and commentIp != ''">
        comment_ip,
      </if>
      <if test="operationSystemInfo != null and operationSystemInfo != ''">
        operation_system_info,
      </if>
      <if test="replyCommentUid != null">
        reply_comment_uid,
      </if>
      <if test="path != null and path != ''">
        `path`,
      </if>
      <if test="content != null and content != ''">
        content,
      </if>
      <if test="userUid != null">
        user_uid,
      </if>
      <if test="pageType != null and pageType != ''">
        page_type,
      </if>
      <if test="nextCommentUidArray != null and nextCommentUidArray != ''">
        next_comment_uid_array,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="username != null and username != ''">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null and avatar != ''">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="site != null and site != ''">
        #{site,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email != ''">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="commentIp != null and commentIp != ''">
        #{commentIp,jdbcType=VARCHAR},
      </if>
      <if test="operationSystemInfo != null and operationSystemInfo != ''">
        #{operationSystemInfo,jdbcType=VARCHAR},
      </if>
      <if test="replyCommentUid != null">
        #{replyCommentUid,jdbcType=BIGINT},
      </if>
      <if test="path != null and path != ''">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="content != null and content != ''">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="userUid != null">
        #{userUid,jdbcType=BIGINT},
      </if>
      <if test="pageType != null and pageType != ''">
        #{pageType,jdbcType=VARCHAR},
      </if>
      <if test="nextCommentUidArray != null and nextCommentUidArray != ''">
        #{nextCommentUidArray,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="xyz.xcye.comment.po.Comment">
    <!--@mbg.generated-->
    update au_comment
    <set>
      <if test="username != null and username != ''">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null and avatar != ''">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="site != null and site != ''">
        site = #{site,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email != ''">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="commentIp != null and commentIp != ''">
        comment_ip = #{commentIp,jdbcType=VARCHAR},
      </if>
      <if test="operationSystemInfo != null and operationSystemInfo != ''">
        operation_system_info = #{operationSystemInfo,jdbcType=VARCHAR},
      </if>
      <if test="showComment != null">
        is_show_comment = #{showComment,jdbcType=TINYINT},
      </if>
      <if test="replyCommentUid != null">
        reply_comment_uid = #{replyCommentUid,jdbcType=BIGINT},
      </if>
      <if test="emailNotice != null">
        is_email_notice = #{emailNotice,jdbcType=TINYINT},
      </if>
      <if test="path != null and path != ''">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="content != null and content != ''">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userUid != null">
        user_uid = #{userUid,jdbcType=BIGINT},
      </if>
      <if test="delete != null">
        is_delete = #{delete,jdbcType=TINYINT},
      </if>
      <if test="pageType != null and pageType != ''">
        page_type = #{pageType,jdbcType=VARCHAR},
      </if>
      <if test="nextCommentUidArray != null and nextCommentUidArray != ''">
        next_comment_uid_array = #{nextCommentUidArray,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where `uid` = #{uid,jdbcType=BIGINT}
  </update>
</mapper>